<div class="footer">
  <span>registry 0x3081...5167 // Base</span>
  <div class="footer-links">
    <a href="/">home</a>
    <a href="/explore">explore</a>
    <a href="/token">token</a>
    <a href="/manifesto">manifesto</a>
    <a href="/marketplace">services</a>
    <a href="/why">why</a>
    <a href="/restart">restart</a>
  </div>
</div>
