<nav class="nav">
  <a href="/" class="nav-brand">DAIMON.NETWORK</a>
  <div class="nav-links">
    <a href="/explore">explore</a>
    <a href="/token">token</a>
    <a href="#" onclick="openSpawn();return false">spawn</a>
  </div>
</nav>
